<div class="">
  {% if site.articles.size == 0 %}
  <h2>No article found</h2>
  {% else %}
  
  {% for article in site.articles %}
  <a href="{{ site.baseurl }}{{ article.url }}" class="list-item container" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100">

    <div class="list-item-icon container align-items-center justify-content-center">
      {% if article.icon != "" %}
        <i data-feather="{{article.icon}}" data-aos="fade-right" data-aos-offset="0" data-aos-delay="500"></i>
      {% endif %}
    </div>

    <div class="flex-grow-1">
      <div class="" data-aos="fade-up" data-aos-delay="600" data-aos-offset="0">
        <h2 class="list-article-title">
        {{ article.title }}
        </h2>
      </div>

      <div class="" data-aos="fade-up" data-aos-delay="700" data-aos-offset="0">
        <span class="list-article-description">{{ article.description }}</span>
      </div>

      <div class="list-article-written" data-aos="fade-up" data-aos-delay="700" data-aos-offset="0">
        <small>Written by <span>{{ article.by }}</span>-</small>
        <small><time>{{ article.date | date_to_string }}</time></small>
      </div>
    </div>

  </a>
  {% endfor %} {% endif %}
</div>
